/* header > p img {
    clip-path: polygon(95% 47%, 93% 60%, 93% 74%, 69% 64%, 60% 41%, 79% 42%);
    clip-path: circle( 20% at 64% 25%);
    width: 50px;
    height: 50px;
    position: relative;
}*/

