/* Here I put all positions and styling .*/

html {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
header h1 {
    color: goldenrod;
    text-align: center;
    transform: translate(200px, -50%);
    font-size: 3rem;
    text-transform: uppercase;
  }

header {
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        line-height: 73px;
        font-size: 13px;
        font-weight: 400;
        background-color: #f4f7f6;    
    background-image: url("../image/circle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
}

img {
    width: 200px;
    margin: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 6s;
    transform: translate(50%, 50%) rotate(365deg);
}

body > nav > ul li {
    position: relative;
    display: block;
    display: flex;
    flex-direction: column;
} 

.clip-circle {
    clip-path: circle(100px at center 50%);
}



