nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: block;
  }
  nav > ul a {
      text-decoration: none;
      color: goldenrod;
      text-transform: lowercase;
      font-weight: 700;
      font-size: 3rem;
      display: block;
      position: relative;
  }

  li a {
    padding: 0;
    text-align: center;
    margin-inline-start: 0rem;
    margin-block-start: 0;
    margin-block-end: 2rem;
    padding-inline-start: 35rem;
  }